# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment
.env

# VS Code
.vscode/

# OS files
.DS_Store

# Local data
recordings/
uploads/
.history/

# Chroma database
backend/app/chroma_db/